spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/medical-business
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  flyway:
    enabled: true
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: validate
jwt:
  secret: secret
  exp-time: 864000000