spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/medical-business
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  flyway:
    enabled: true
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: validate
jwt:
  secret: G6h7hK9x3Y1a2B4cD5eF6gH7iJ8kL9Mn0OpQrStUvWxY
  exp-time: 864000000